
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Pacifico&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Pacifico&family=Roboto:ital,wght@1,300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Pacifico&family=Roboto&display=swap');
 
 body{
    background-image: url('back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
   padding: 0;
  }
.top-nav {
    background-color: rgb(39, 35, 35);
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  @media only screen and (max-width: 600px) {
    body{
 min-height: 1200px;
    }
    .top-nav {
max-width: 600px;   
 }
 .projects-item figcaption{
  max-width: 50px;
 }
 .top-nav a {
  padding: 14px 10px;
}

.projects{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
}
.projects figcaption{
  min-height: 120px;
}

  }
  .top-nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .top-nav a:hover,a.selected {
    background-color: rgb(240, 228, 228);
    color: black;
  }
  .top-nav a:active {
    background-color: gray;
  }
 .home{
  margin: auto;
 }
  .home header{
color: aliceblue;
margin-top: 4%;
font-weight: 100;
font-family: sans-serif;
text-align: center;
font-family: 'Akaya Telivigala', cursive;
font-family: 'Pacifico', cursive;
  }
 
  .home header h1{
    line-height: 2;
    letter-spacing: 0.700em;
  }
  .home header h2{
    letter-spacing: 0.250em;
  }
  .my_img img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.my_img{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my_img figcaption{
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    text-align: center;
    padding-top: 15px ;
}
.about{
  margin-top: 40px;
  text-align: center;
}
.about h1 {
    color: aliceblue;
    font-weight: bold;
    display:inline-block;
    border-bottom:4px solid rgb(104, 100, 100);
    padding-bottom:2px;
}
.about .about-me{
  margin: auto;
    color: aliceblue;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
line-height: 1.5;
max-width: 300px ;
text-align: justify;
}
.social-media{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
 .icon{
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    /* line-height: 50px; */
    position: relative;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: rgb(54, 53, 53);
    display: flex;
  }
  .logo{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
  }
   .site {
    position: absolute;
    margin-top:-40px;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    padding: 5px;
  }
   .icon:hover .site {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;   
  }
 
  .social-media .facebook:hover,
  .social-media .facebook:hover .site,
  .social-media .facebook:hover .site::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  .social-media .twitter:hover,
  .social-media .twitter:hover .site,
  .social-media .twitter:hover .site::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  .social-media .instagram:hover,
  .social-media .instagram:hover .site,
  .social-media .instagram:hover .site::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  .social-media .github:hover,
  .social-media .github:hover .site,
  .social-media .github:hover .site::before {
    background-color: #333333;
    color: #ffffff;
  }
  .social-media .youtube:hover,
  .social-media .youtube:hover .site,
  .social-media .youtube:hover .site::before {
    background-color: #de463b;
    color: #ffffff;
  }
 
  .web header{
    margin-top: 50px;
    text-align: center;

}
.web header h1{
  
    color: aliceblue;
    letter-spacing: 0.45rem;
    font-weight: bold;
    display:inline-block;
    border-bottom:4px solid rgb(104, 100, 100);
    padding-bottom:8px;
    
}
.projects-image{
  border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.projects-item figcaption{
  color:white;
  margin-left:60px;
  font-family: 'Akaya Telivigala', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;
  color: aliceblue;
  padding: 20px;
  max-width: 300px;
  overflow: hidden;
  max-height: 90px;
  text-align: justify;
  line-height: 1.5;
}
.projects{
  margin-top: 50px;
  display: flex;
  justify-items: center;
  margin-left: 0;
  margin-right: 0;
}
.projects figure{
  flex: 1;
}
.projects .github:hover,
  .projects .github:hover .site,
  .projects .github:hover .site::before {
    background-color: #333333;
    color: #ffffff;
  }
  .git{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .projects-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
 
 
  .resume h1{
    color: aliceblue;
    letter-spacing: 0.85rem;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    font-family: 'Akaya Telivigala', cursive;
    font-family: 'Roboto', sans-serif;
  }

  .education,.skills{
    margin: auto;
    padding: 10px;
    color: aliceblue;
    font-family: 'Akaya Telivigala', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
line-height: 1.5;
max-width: 300px ;
text-align: justify;
}
.resume h2{
  color: aliceblue;
  letter-spacing: 0.25rem;
  display:inline-block;
  border-bottom:4px solid rgb(104, 100, 100);
  padding-bottom:8px;
  margin-top: 2%;
  font-family: 'Akaya Telivigala', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.edu{
  color: aliceblue;
  font-family: 'Akaya Telivigala', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;
top: 2%;
line-height: 1.5;
width: 300px ;
text-align: center;
}
